<%
title = 'Blog'
page  = 'blog' 
%>


<section class="ui segment noBorder">
  <h1>The Blog</h1>
  <p>Check below for the latest tutorials and relevant news posts on all things pi.</p>
 
  <div class="ui stackable grid segment noBorder">
  <!-- Blog Posts -->
  
    <div class="ui three column row">
  
      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Installing RetroPie on the Raspberry Pi</h3>
            </div>
            <div class="ui row">
              <img src="/assets/img/blogPosts/retroPie.png" alt="RetroPi Logo" class="ui centered image">
            </div>
            <div class="ui row">
              <p>Today we will be taking a look at installing the most talked about Retro gaming system since the 90's. That is, RetroPie.</p>
            </div>
            <div class="ui row">
              <p class="timedate">Wed 19th Oct</p>
            </div>
            <div class="ui row">
              <a class="ui button" href="/blog/installRetroPie.html">View Post</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>How to use LibreOffice</h3>
            </div>
            <div class="row">
              <img src="/assets/img/blogPosts/libreOffice.png" alt="LibreOffice Logo" class="ui centered image">
            </div>
            <div class="row">
              <p>Let's take a look at a widely popular and free piece of software that is just as powerful as Microsoft Office, but available on the Pi.</p>
            </div>
            <div class="row">
              <p class="timedate">Fri 7th Oct</p>
            </div>
            <div class="row">
              <a class="ui button" href="/blog/libreOffice.html">View Post</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>Why Choose the Raspberry Pi?</h3>
            </div>
            <div class="row">
              <img src="/assets/img/blogPosts/whyPi.png" alt="IoT Blog Post Image" class="ui centered image">
            </div>
            <div class="row">
              <p>What makes the Pi so great? What is IoT? Take a look at this article to find out all you need to know!<br />Check it out, like.. now!</p>
            </div>
            <div class="row">
              <p class="timedate">Sun 11th Sept</p>
            </div>
            <div class="row">
              <a class="ui button" href="/blog/whyPi.html">View Post</a>
            </div>
          </div>
        </article> 
      </div>

    </div>
    
  </div>

</section>
