<%
title = 'Get Started'
page  = 'getStarted' 
%>


<section class="ui segment noBorder">
  <h1>Get Started, Now!</h1>
  <p>Find below a number of different way's to get started with your Raspberry Pi!</p>
 
  <div class="ui stackable grid segment noBorder">
  <!-- Articles, style used in the blog but also relevant for this page, no point in duplicating styles for no reason. -->

    <div class="ui three column row">
    
      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Where to Buy</h3>
            </div>
            <div class="ui row">
              <img src="/assets/img/getStarted/whereToBuy.png" alt="Where to Buy" class="ui centered image">
            </div>
            <div class="ui row">
              <p>It can be hard to find a reputable retailer of the Pi.<br /><br /> Let us help you make the right choice.</p>
            </div>
            <div class="ui row">
              <a class="ui button" href="/whereToBuy.html">Where to Buy</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Useful Links and Info</h3>
            </div>
            <div class="ui row">
              <img src="/assets/img/getStarted/linksAndInfo.png" alt="Useful Links and Info" class="ui centered image">
            </div>
            <div class="ui row">
              <p>Getting started with the Raspberry Pi can be tricky. Whether your not familiar with setting it up, or the Debian environment, let us help.</p>
            </div>
            <div class="ui row">
              <a class="ui button" href="/usefulLinks.html">Useful Links and Info</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Get In Touch</h3>
            </div>
            <div class="ui row">
              <img src="/assets/img/getStarted/getInTouch.png" alt="Get In Touch" class="ui centered image">
            </div>
            <div class="ui row">
              <p>Still stuck, stressed because you can't get something to work? Let us know and we'll help, we're the geeks after all.</p>
            </div>
            <div class="ui row">
              <a class="ui button" href="/getInTouch.html">Get In Touch</a>
            </div>
          </div>
        </article>
      </div>

    </div>
  
  </div>

</section>
