<%
title = ''
page  = 'index' 
%>

<div class="ui stackable grid">
  
  <div class="twelve wide column">
    
    <section class="ui segment noBorder">
      <h1>Welcome to RaspGeek!</h1>
      <p>RaspGeek is a fan made website based around the new age of computing, that is, the Raspberry Pi.</p>
      <p>The Raspberry Pi, if you are not already familiar with it, is a credit card-sized computer that plugs into your TV and keyboard. It is a capable little computer which can be used in electronics projects, and for many of the things that your desktop PC does, like spreadsheets, word processing, browsing the internet, and playing games.</p>
      <p>Still not certain? Watch the video below to find out more. After that, feel free to browse around our website! Any questions? <a href="getInTouch.html">Don't hesitate to get in contact with us</a>.</p>

      <div class="ui embed" data-url="https://www.youtube.com/embed/_cviTxswW8c"></div>
    </section>
  
  </div>

  <div class="four wide column">
    
    <aside class="ui center aligned segment">
      <h3>Featured Project</h3>
      <p>Check out our weekly featured Pi Project below!</p>
     
      <article class="project">
        <h3><span>Pi</span>Alarm</h3>
           
        <img src="/assets/img/piProjects/piAlarm.png" class="ui image" alt="PiAlarm">
        <br />
        <p class="ui paragraph">Home alarm systems can be expensive. Thanks to the Raspberry Pi, not only can you get one for cheap, but you can also learn how to make it!</p>
           
        <a class="ui button" href="#">View Project</a>
      </article>
    </aside>
  
  </div>

</div>