<%
title = 'Raspberry Pi Zero'
page  = 'meetPiZero' 
%>

<div class="ui stackable grid">
  
  <div class="ten wide column">
    <section class="ui segment noBorder">
      <h1>The Raspberry Pi Zero</h1>
  
      <p>Cheap, but powerful for the price.</p>
      <img src="/assets/img/meetThePis/rasPiZero.png" alt="Raspberry Pi Zero" class="ui rounded image">
  
      <section class="ui segment">
        <p>Can you believe that the Raspberry Pi got smaller and cheaper?! The new Raspberry Pi Zero is an super-ultra-low-cost, tiny-small-form-factor Raspberry Pi!</p>
        <p>We <strong>highly recommend</strong>adding ThePiHut's <a href="http://thepihut.com/products/raspberry-pi-zero-essential-kit">"Zero Essentials Kit"</a>, as it contains the relevant adapter cables, (aswell as a wide selection of GPIO headers) needed for the new Raspberry Pi Zero ports.</p>
        <p>The Raspberry Pi Zero now comes complete with a camera port! Using the new <a href="https://thepihut.com/products/raspberry-pi-zero-camera-adapter">Raspberry Pi Zero Camera Adapter from ThePiHut</a>, you can now use a Raspberry Pi camera with your Zero.</p>
        <p>Alex Eames (RasPi.TV) got his hands on the new Raspberry Pi Zero early, <a href="http://raspi.tv/?p=8843">here is his review</a>!</p>
  
        <h3>Raspberry Pi Zero Details:</h3>
        <ul class="list">
          <li>BCM2835 (same as Pi 1) but up-clocked to 1GHz, so 40% faster</li>
          <li>512MB of RAM</li>
          <li>micro-SD Slot</li>
          <li>mini-HDMI</li>
          <li>micro-USB for data</li>
          <li>micro-USB for power</li>
          <li>unpopulated 40-pin GPIO connector (same pinout as A+/B+/2B)</li>
          <li>Size is 65mm x 30mm x 5mm</li>
        </ul>
      </section>
    </section>
  </div>
  
  <div class="six wide column">
    <aside class="ui center aligned segment">
      <h3>Specifications</h3>
      <p>Check out the specs of the Pi Zero below.</p>

      <div class="row">
        <p class="title">System-on-chip used</p>
        <p class="content">Broadcom BCM2835</p>
      </div>

      <div class="row">
        <p class="title">CPU</p>
        <p class="content">1GHz ARM11 core</p>
      </div>

      <div class="row">
        <p class="title">Memory</p>
        <p class="content">512MB of LPDDR2 SDRAM</p>
      </div>

      <div class="row">
        <p class="title">Storage</p>
        <p class="content">MicroSDHC slot</p>
      </div>
    </aside>
  </div>

</div>