<%
title = 'Meet the Pi\'s'
page  = 'meetThePis' 
%>


<section class="ui segment noBorder">
  <h1>Meet the Pi's</h1>
  <p>Click on the Raspberry Pi below that you would like to find out more about!</p>
 
  <div class="ui stackable grid segment noBorder">
  <!-- Articles, style used in the blog but also relevant for this page, no point in duplicating styles for no reason. -->

    <div class="ui three column row">
  
      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Raspberry Pi 3</h3>
            </div>
            <div class="ui row">
              <img src="/assets/img/meetThePis/rasPi3.png" alt="Raspberry Pi 3" class="ui centered image">
            </div>
            <div class="ui row">
              <p>The most recent version of the Raspberry Pi, with tons of new features!</p>
            </div>
            <div class="ui row">
              <a class="ui button" href="/meetPi3.html">Meet this Pi</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Raspberry Pi 2</h3>
            </div>
            <div class="ui row">
              <img src="/assets/img/meetThePis/rasPi2.png" alt="Raspberry Pi 2" class="ui centered image">
            </div>
            <div class="ui row">
              <p>Somewhat outdated as of now, but still incredibly powerful.</p>
            </div>
            <div class="ui row">
              <a class="ui button" href="/meetPi2.html">Meet this Pi</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Raspberry Pi Zero</h3>
            </div>
            <div class="ui row">
              <img src="/assets/img/meetThePis/rasPiZero.png" alt="Raspberry Pi Zero" class="ui centered image">
            </div>
            <div class="ui row">
              <p>Small, cheap, but powerful at that! <br /> This is the Pi of the future..</p>
            </div>
            <div class="ui row">
              <a class="ui button" href="/meetPiZero.html">Meet this Pi</a>
            </div>
          </div>
        </article>
      </div>

    </div>

  </div>
  
</section>