<%
title = 'Thank You'
page  = 'getInTouch' 
%>

<div class="ui stackable grid">
  
  <div class="twelve wide column">

    <section id="ui segment noBorder">
      <h1>We're already on our way back to you!</h1>
      <p>Thanks for contacting us. Rest assured we are looking at your query right this second, thinking of an awesome reply.</p>

      <p>Please allow us <b>48 hours</b> to get back to you.</p>
    </section>

  </div>
  
  <div class="four wide column">
    
    <aside class="ui center aligned segment social">
      <h3>Other ways to contact us</h3>
      <p>We're social, are you?</p>
  
      <!-- Twitter -->
      <p>
        <i class="twitter square icon"></i>
        <br />
        <i>"Tweet"</i> us on Twitter
        <br />
        <b>@raspGeek</b>
      </p>

      <!-- Facebook -->
      <p>
        <i class="facebook square icon"></i>
        <br />
        <i>"Like"</i> us on Facebook
        <br />
        <b>/raspGeek</b>
      </p>

      <!-- YouTube -->
      <p>
        <i class="youtube square icon"></i>
        <br />
        <i>"Watch"</i> us on YouTube
        <br />
        <b>/raspGeekTV</b>
      </p>  
    </aside>

  </div>

</div>