<%
title = 'Useful Links'
page  = 'usefulLinks' 
%>


<section class="ui segment noBorder">
  <h1>Useful Links and Info</h1>
  <p>We have chosen some of the best resources around the Raspberry Pi and listed them below. Still need more info? <a href="getInTouch.html">Contact us</a>!</p>
 
  <div class="ui stackable grid segment noBorder">
  <!-- Articles, style used in the blog but also relevant for this page, no point in duplicating styles for no reason. -->
  
    <div class="ui three column row">
  
      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>Raspberry Pi</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/linksAndInfo/raspberryPiOrg.png" alt="Raspberry Pi Official Website" class="ui centered image">
            </div>
            <div class="row">
              <p>The official Raspberry Pi website.<br />Anything you need, your bound to find it here.</p>
            </div>
            <div class="row">
              <a class="ui button" href="http://raspberrypi.org">Visit Resource</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>ModMyPi</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/linksAndInfo/modMyPi.png" alt="ModMyPi" class="ui centered image">
            </div>
            <div class="row">
              <p>Extremely cool case mods for your Pi and many different modding tutorials for your Pi.</p>
            </div>
            <div class="row">
              <a class="ui button" href="http://www.modmypi.com/">Visit Resource</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>TheMagPi</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/linksAndInfo/theMagPi.png" alt="TheMagPi" class="ui centered image">
            </div>
            <div class="row">
              <p>The official Raspberry Pi Magazine. Some pretty cool reading to be done on this website.</p>
            </div>
            <div class="row">
              <a class="ui button" href="http://www.themagpi.com/">Visit Resource</a>
            </div>
          </div>
        </article>
      </div>
    
    </div><!-- end first row -->
    
    <div class="ui three column row">

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>Reddit</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/linksAndInfo/reddit.png" alt="Raspberry Pi Reddit" class="ui centered image">
            </div>
            <div class="row">
              <p>Community based discussion about the Pi. Bugs, hacks, improvements, you name it...</p>
            </div>
            <div class="row">
              <a class="ui button" href="https://www.reddit.com/r/raspberry_pi/">Visit Resource</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>The Raspberry Pi Guy</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/linksAndInfo/theRaspberryPiGuy.png" alt="The Raspberry Pi Guy" class="ui centered image">
            </div>
            <div class="row">
              <p>Just like this website, a Raspberry Pi fanatic. Cool tutorials, guide's. I'd recommend to check this out.</p>
            </div>
            <div class="row">
              <a class="ui button" href="http://www.theraspberrypiguy.com/">Visit Resource</a>
            </div>
          </div>
        </article>
      </div>

      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="row">
              <h3>RasPi.tv</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/linksAndInfo/rasPiTv.png" alt="RasPi.tv" class="ui centered image">
            </div>
            <div class="row">
              <p>Originally started as a YouTube channel, cool hacks, tricks, and general fun tutorials based around the Pi.</p>
            </div>
            <div class="row">
              <a class="ui button" href="http://raspi.tv/">Visit Resource</a>
            </div>
          </div>
        </article>
      </div>

    </div><!-- End second row -->

  </div><!-- End grid -->
</section>