<%
title = 'Where to Buy'
page  = 'whereToBuy' 
%>


<section class="ui segment noBorder">
  <h1>Where to Buy</h1>
  <p>Find below a number of different reputable retailers where you can grab your own Pi!</p>
 
  <div class="ui stackable grid segment noBorder">
  <!-- Articles, style used in the blog but also relevant for this page, no point in duplicating styles for no reason. -->
  
    <div class="ui three column row">
  
      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>Element14</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/whereToBuy/element14.png" alt="Element14 Logo" class="ui centered image">
            </div>
            <div class="row">
              <p>Element14 is probably the most known retailer, if not the main retailer for all Raspberry Pi's and addon's for your Raspberry Pi.</p>
            </div>
            <div class="row">
              <a class="ui button" href="https://www.element14.com/community/community/raspberry-pi">Visit Website</a>
            </div>
          </div>
        </article>
      </div>
      
      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>RS Components</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/whereToBuy/rsComponents.png" alt="RS Components Logo" class="ui centered image">
            </div>
            <div class="row">
              <p>Another reputable retailer of Raspberry Pi products and addons, RS Components are the electronic component experts.</p>
            </div>
            <div class="row">
              <a class="ui button" href="http://ie.rs-online.com/web/generalDisplay.html?id=raspberrypi">Visit Website</a>
            </div>
          </div>
        </article>
      </div>
      
      <div class="ui center aligned column">
        <article class="ui segment">
          <div class="ui center aligned stackable grid">
            <div class="ui row">
              <h3>ThePiHut</h3>
            </div>
            <div class="row">
              <img src="/assets/img/getStarted/whereToBuy/thePiHut.png" alt="ThePiHut Logo" class="ui centered image">
            </div>
            <div class="row">
              <p>Dedicated to just the Raspberry Pi, ThePiHut is the number one source for all Pi components and the Pi's themselves.</p>
            </div>
            <div class="row">
              <a class="ui button" href="ttps://thepihut.com/">Visit Website</a>
            </div>
          </div>
        </article>
      </div>

    </div>

  </div>
</section>