<%
title = 'Installing RetroPie on the Raspberry Pi'
page  = 'installRetroPie'
%>


<section class="ui center aligned segment noBorder blogPost">
  
  <h1>Installing RetroPie on the Raspberry Pi</h1>
  <br />
  <div class="timedate">Posted by John on Wednesday 19th October 2016 @ 6:53pm.</div>
  <br />
  <img src="/assets/img/blogPosts/retroPie.png" alt="Installing RetroPie on the Raspberry Pi" class="ui centered image">
  <br /><br />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, facere recusandae, ducimus perferendis cum molestiae doloribus at harum esse quibusdam ullam dicta neque aut quod cupiditate. Id ab reiciendis earum.</p>
  <p>Error voluptas animi quaerat similique amet expedita mollitia commodi. Impedit perferendis, ipsum tenetur minus doloremque voluptatem distinctio atque? Quam beatae voluptate voluptas libero minima. Veniam cum temporibus, illum maiores vero!</p>
  <p>Labore deserunt nemo laudantium ipsam voluptatum, perferendis pariatur quibusdam aperiam mollitia obcaecati ad aspernatur alias optio ipsa ipsum aliquid, fugiat autem neque. Harum nostrum necessitatibus pariatur repellat, unde facere dolorum!</p>
  <p>Ipsam, distinctio sit impedit accusamus, molestiae provident, id eaque praesentium totam voluptatum quisquam possimus quasi eveniet explicabo eius. Eum modi sint id necessitatibus, ratione ad distinctio ut. Rerum, possimus quae.</p>
  <p>Voluptatibus quam, vitae molestiae quia repellendus aspernatur repellat obcaecati hic suscipit. Autem non accusamus doloremque quaerat nobis repellendus illum praesentium. Vel iste, voluptatem explicabo totam, sunt adipisci aspernatur rem. Tempore!</p>
  <p>Suscipit nam odit quam neque, impedit veritatis recusandae iusto illum praesentium dignissimos veniam quo reprehenderit nemo sapiente quaerat iure molestiae porro cupiditate explicabo possimus asperiores, atque assumenda? Quae, aspernatur. Odit.</p>
  <p>Praesentium ab obcaecati libero enim atque at ea asperiores, magnam quos ut nobis cumque blanditiis rem deleniti velit commodi quaerat, neque ex quasi cum. Eaque tempore facere, maiores quasi labore.</p>
  
</section>