<%
title = 'How to use LibreOffice'
page  = 'libreOffice'
%>


<section class="ui center aligned segment noBorder blogPost">
  
  <h1>How to use LibreOffice</h1>
  <br />
  <div class="timedate">Posted by Lee on Friday 7th October 2016 @ 2:37pm.</div>
  <br />
  <img src="/assets/img/blogPosts/libreOffice.png" alt="How to use LibreOffice" class="ui centered image">
  <br /><br />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor temporibus dignissimos maxime quis, exercitationem totam quo cum doloribus, rerum debitis hic ut, impedit sint harum obcaecati voluptates dolore commodi facilis.</p>
  <p>Ratione accusantium facere, voluptatibus mollitia sapiente beatae incidunt doloremque! Accusamus perspiciatis id expedita labore aut repellendus odio harum omnis aliquid eaque dolorem doloremque, explicabo libero nobis eius quaerat, rem nihil!</p>
  <p>Veritatis necessitatibus autem, optio, laboriosam sed, pariatur alias quaerat harum exercitationem vel a in similique ullam! Eius nisi repudiandae nemo nihil dolores, sequi eveniet, dicta odit voluptatibus ipsa ab voluptate.</p>
  <p>Asperiores, atque doloribus sunt ea dicta sequi voluptas vero dolores voluptate! Quisquam laboriosam distinctio debitis, consectetur atque, veniam labore doloremque similique molestiae totam tempore! Iste sed officiis facere ullam maiores.</p>
  <p>Repellendus ex odit tempora inventore eum fuga mollitia rem cum recusandae, ipsum quo esse dolor soluta eaque ullam vero qui dignissimos eveniet, enim, quia nisi. Officia ab corporis maxime vitae.</p>
  <p>In architecto quaerat magni odio nisi voluptate libero nesciunt incidunt optio, sequi esse non veniam recusandae, debitis ipsa fuga distinctio quibusdam illo. Ratione et, eveniet, quam veniam atque aperiam aliquam.</p>
  <p>Qui dolorem fugiat officia dolore facere, at, necessitatibus ut accusamus deleniti nihil sit minus, odit. Culpa voluptate praesentium eius placeat fugit, obcaecati aperiam ipsam, eum optio beatae consequatur rem mollitia!</p>
  <p>Quasi distinctio, ab a ratione rem, harum dolor praesentium quae molestiae vel blanditiis vero commodi nobis minus corrupti deserunt recusandae illum earum veniam! Perferendis aut cupiditate at, totam consequuntur. Eum.</p>
  <p>Quos voluptatem aliquid consequatur nisi nesciunt amet enim libero ipsum a provident quod sint, unde aliquam. Alias, sapiente veniam perferendis et quod quos excepturi! Debitis animi veniam deleniti saepe labore!</p>
  <p>Quo vel commodi fugit nostrum similique eligendi perspiciatis sequi reiciendis tenetur nulla quidem suscipit repellendus numquam, ex accusamus saepe beatae itaque dolor temporibus dolores odit! Voluptatibus quia voluptatum odit corporis.</p>
  
</section>