<nav class="ui segment noBorder grayBackground">
  
  <% if (page == 'index') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/index.html">Home</a>
  <% } else if (page == 'blog') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/blog.html">Blog</a>
  <% } else if (page == 'installRetroPie') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/blog.html">Blog</a> &raquo; <a href="/blog/installRetroPie.html">Installing RetroPie on the Raspberry Pi</a>
  <% } else if (page == 'libreOffice') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/blog.html">Blog</a> &raquo; <a href="/blog/libreOffice.html">How to use LibreOffice</a>
  <% } else if (page == 'whyPi') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/blog.html">Blog</a> &raquo; <a href="/blog/whyPi.html">Why Choose the Raspberry Pi?</a>
  <% } else if (page == 'meetThePis') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/meetThePis.html">Meet the Pi's</a>
  <% } else if (page == 'meetPi3') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/meetThePis.html">Meet the Pi's</a> &raquo; <a href="meetPi3.html">Raspberry Pi 3</a>
  <% } else if (page == 'meetPi2') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/meetThePis.html">Meet the Pi's</a> &raquo; <a href="meetPi2.html">Raspberry Pi 2</a>
  <% } else if (page == 'meetPiZero') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/meetThePis.html">Meet the Pi's</a> &raquo; <a href="meetPiZero.html">Raspberry Pi Zero</a>
  <% } else if (page == 'getStarted') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/getStarted.html">Get Started</a>
  <% } else if (page == 'whereToBuy') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/getStarted.html">Get Started</a> &raquo; <a href="whereToBuy.html">Where to Buy</a>
  <% } else if (page == 'usefulLinks') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/getStarted.html">Get Started</a> &raquo; <a href="usefulLinks.html">Useful Links</a>
  <% } else if (page == 'getInTouch') { %>
    <a href="/index.html">RaspGeek</a> &raquo; <a href="/getStarted.html">Get Started</a> &raquo; <a href="getInTouch.html">Get in Touch</a>
  <% } %>

</nav>